body {
    background-color: #E9E9EA;
}

.container {
    background-color: #FFFF;
}

.btn {
    background: linear-gradient(0deg, #314E74 0%, #7EACE5 84%);
    width: 8rem;
    height: 2.5rem;
    border-style: none;
    box-shadow: 0px 4px #0000;
}